@{
    ViewData["Title"] = "Over mij";
}

<div class="experience-section container ">
    <h1 class="text-center">Over mij</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div id="carouselOverMij" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/OverMij/Dylan_1.png.jpg" class="d-block w-100" alt="Dylan 1">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/OverMij/Dylan_2.png.jpg" class="d-block w-100" alt="Dylan 2">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/OverMij/Dylan_3.png.jpg" class="d-block w-100" alt="Dylan 3">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/OverMij/Dylan_4.png.jpg" class="d-block w-100" alt="Dylan 4">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/OverMij/Dylan_5.png.jpg" class="d-block w-100" alt="Dylan 5">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/OverMij/Dylan_6.png.jpg" class="d-block w-100" alt="Dylan 6">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/OverMij/Dylan_7.png.jpg" class="d-block w-100" alt="Dylan 7">
                    </div>
                </div>
                <!-- Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselOverMij" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Vorige</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselOverMij" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Volgende</span>
                </button>
                <br />
            </div>
        </div>

        <div class="OverMijInfo col-lg-8">
            <div class="OverMij">
                <h2>Wie ben ik</h2>
                <h6>
                    Mijn naam is Dylan ter Bruggen. Ik studeer Software Development aan het ROC van Twente.
                    <br />
                    In mijn vrije tijd game ik graag, vooral strategie-, survival-, city-builder- en shooter-games.
                </h6>
            </div>
            <br />
        </div>
    </div>
</div>