<main class="experience-page">
    <div class="experience-section">

        <!-- Project: Retrotech -->
        <div class="project-section">
            <div class="project-grid">
                <div class="project-info">
                    <h2 class="subsection-title">Project: Retrotech</h2>
                    <h6 class="project-description">
                        A PHP project made in a group of 4 using Scrum.<br>
                        It is a gaming webshop.
                    </h6>
                    <a href="https://github.com/DylanterBruggen/study-project-retrotech-" target="_blank">GitHub Repo: Retrotech</a>
                    <h5 class="skills-title">Technologies Used:</h5>
                    <ul class="skills-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>JavaScript</li>
                        <li>MySQL</li>
                        <li>Git</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Project: Top 2000 -->
        <div class="project-section">
            <div class="project-grid">
                <div class="project-info">
                    <h2 class="subsection-title">Project: Top 2000</h2>
                    <h6 class="project-description">A website to view the Top 2000.</h6>
                    <a href="https://github.com/DylanterBruggen/Top2000" target="_blank">GitHub Repo: Top 2000</a>
                    <h5 class="skills-title">Technologies Used:</h5>
                    <ul class="skills-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>C#</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                        <li>Git</li>
                        <li>ASP.NET Core</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>

                <div class="project-media">
                    <div id="carouselTop2000" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/Images/Projects/Top2000-1.png" class="d-block w-100" alt="Top2000 Screenshot 1">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Top2000-2.png" class="d-block w-100" alt="Top2000 Screenshot 2">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Top2000-3.png" class="d-block w-100" alt="Top2000 Screenshot 3">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Top2000-4.png" class="d-block w-100" alt="Top2000 Screenshot 4">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTop2000" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTop2000" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project: Randomizer -->
        <div class="project-section">
            <div class="project-grid">
                <div class="project-info">
                    <h2 class="subsection-title">Project: Randomizer</h2>
                    <h6 class="project-description">A website to complete a bunch of small projects.</h6>
                    <a href="https://github.com/DylanterBruggen/Randomizer" target="_blank">GitHub Repo: Randomizer</a>
                    <h5 class="skills-title">Technologies Used:</h5>
                    <ul class="skills-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>C#</li>
                        <li>JavaScript</li>
                        <li>Git</li>
                        <li>ASP.NET Core</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>

                <div class="project-media">
                    <div id="carouselRandomizer" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/Images/Projects/Randomizer_1.png" class="d-block w-100" alt="Randomizer Screenshot 1">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Randomizer_2.png" class="d-block w-100" alt="Randomizer Screenshot 2">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Randomizer_3.png" class="d-block w-100" alt="Randomizer Screenshot 3">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Randomizer_4.png" class="d-block w-100" alt="Randomizer Screenshot 4">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselRandomizer" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselRandomizer" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project: Weather Forecast -->
        <div class="project-section">
            <div class="project-grid">
                <div class="project-info">
                    <h2 class="subsection-title">Project: Weather Forecast</h2>
                    <a href="https://github.com/DylanterBruggen/study-project-Weerbericht-" target="_blank">GitHub Repo: Weather Forecast</a>
                    <h5 class="skills-title">Technologies Used:</h5>
                    <ul class="skills-list">
                        <li>C#</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Project: Senior Website -->
        <div class="project-section">
            <div class="project-grid">
                <div class="project-info">
                    <h2 class="subsection-title">Project: Senior Website</h2>
                    <a href="https://github.com/DylanterBruggen/study-project-senior-website-" target="_blank">GitHub Repo: Senior Website</a>
                    <h6 class="project-description">A website for a senior organization.</h6>
                    <h5 class="skills-title">Technologies Used:</h5>
                    <ul class="skills-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>MySQL</li>
                        <li>Git</li>
                    </ul>
                </div>

                <div class="project-media">
                    <div id="carouselSenior" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/Images/Projects/SeniorWebsite_1.png" class="d-block w-100" alt="Senior Website Screenshot">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSenior" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselSenior" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Project: Planstock -->
        <div class="project-section">
            <div class="project-grid">
                <div class="project-info">
                    <h2 class="subsection-title">Project: Planstock</h2>
                    <a href="https://github.com/DylanterBruggen/Planstock" target="_blank">GitHub Repo: Planstock</a>
                    <h6 class="project-description">A website to plan events.</h6>
                    <h5 class="skills-title">Technologies Used:</h5>
                    <ul class="skills-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>C#</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                        <li>Git</li>
                        <li>ASP.NET Core</li>
                        <li>Entity Framework</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>

                <div class="project-media">
                    <div id="carouselPlanstock" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/Images/Projects/Planstock-1.png" class="d-block w-100" alt="Planstock Screenshot">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Planstock-2.png" class="d-block w-100" alt="Planstock Screenshot">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Planstock-3.png" class="d-block w-100" alt="Planstock Screenshot">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Planstock-4.png" class="d-block w-100" alt="Planstock Screenshot">
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Projects/Planstock-5.png" class="d-block w-100" alt="Planstock Screenshot">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPlanstock" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPlanstock" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Project: Portfolio Website -->
        <div class="project-section">
            <div class="project-grid">
                <div class="project-info">
                    <h2 class="subsection-title">Project: Portfolio Website</h2>
                    <a href="https://github.com/DylanterBruggen/Portfolio-Dylan.com">github repo: portfolio</a>
                    <h5 class="skills-title">Technologies Used:</h5>
                    <ul class="skills-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>C#</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                        <li>ASP.NET Core</li>
                        <li>Entity Framework</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
