<div class="experience-section container">
    <!-- Project-Section -->
    <div class="Project-section">
        <h2 class="subsection-title">Project: </h2>
        <h6 class="Project-discription"></h6>
        <h5 class="skills-title">worked with:</h5>
        <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>SQL</li>
            <li>Git</li>
        </ul>

        <div id="carouselProject" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner h-600">
                <div class="carousel-item active">
                    <img src="/Img/Projecten/DeTuinierwinkel1.png" class="d-block w-100" alt="image not available">
                </div>
            </div>
        </div>
    </div>

    <div class="Project-section">
        <h2 class="subsection-title">Project: </h2>
        <h6 class="Project-discription"></h6>
        <h5 class="skills-title">worked with:</h5>
        <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>SQL</li>
            <li>Git</li>
        </ul>

        <div id="carouselProject" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner h-600">
                <div class="carousel-item active">
                    <img src="/Img/Projecten/DeTuinierwinkel1.png" class="d-block w-100" alt="image not available">
                </div>
            </div>
        </div>
    </div>

</div>
